.html,body{
    padding: 0;
    margin: 0;
}
nav{
    
    position: sticky;
    background-color: white;
    gap: 20px;
    top: 10px;
   
    
}
.hero{
    
    display:flex;
    justify-content: space-between;
    padding: 10px;
    gap: 37px;

   
   
}


    
    
 
 .bdy img{
    width: 170px;
    height: 120px;
    gap: 10px;

    
 }
 .img1{
   margin: 15px;
 }
 .btns{
   
    background-color: white;
   
    padding: 10px;
    
 }
 .btns button{
    border-radius: 10px;
    padding: 5px;
    gap: 8px;
    margin-right: 5px;
    
 }
 .btn1{
    background-color: black;
    color: white;
 }
 .btn2{
    background-color: rgb(224, 218, 218);
    color: black;
 }
 .search input{
   min-width: 400px;
   height: 40px;

 }
 aside{
   padding: 10px;
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 30px;

 }
 .contain{
   display: flex;
 }
 p{
   
font-size: 10px;
 }
 .bars{
   margin-top: 20px;
 }
 .main_container{
   width: 100%;
 }
 .btn10{
   height: 42px;
 }
 main{
   min-height: 100vh;
   background:gainsboro;
 }
 .content h3{
   margin-bottom:2px;
 }
 .b9{
  margin-top: 10px;
 }
 .b8{
  margin-top: 10px;
  
 }
 
 
 
 
 